discord/
helix/
kde.org/
kiorc
QtProject.conf
dolphinrc
pulse/
session/
dconf/
trashrc
nushell/history.txt
Zulip/
Electron/
obs-studio/
git-graph/
1Password/
BraveSoftware/
GitHub Desktop/
JetBrains/
Serial Monitor/
Vial/
autostart/
baloofileinformationrc
chromium/
fontconfig/
gh/
google-chrome-beta/
google-chrome-unstable/
google-chrome/
kdeglobals
kicad/
ktrashrc
microsoft-edge-dev/
mimeapps.list
qBittorrent/
vivaldi-snapshot/
vivaldi/
user-dirs.*
filetypesrc
go/
pavucontrol.ini
systemd/
